

<%= form_for :url, :url => urls_path, :class => "navbar-form navbar-center" do |f| %>
  <%= f.label :enter_link, "Enter URL" %>
  <%= f.text_field :page_url %>
  <%= f.submit "Parse", :class => 'btn btn-primary' %>
  <p> Please use full website address: ex) 'https://www.youtube.com' </p>
<% end %>

<%= link_to "Previous URL List", urls_path %>





